*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7e8db;
    
}

.navegacao {
    display: flex;
    justify-content: end;
    padding: 2% 4% 2% 0%;
    border: solid;
    border-color: #f7e8db;
    border-width: 1px;
    border-bottom-color: #7e4c2e ;

}

a {
    margin: 5px;
}

#logo {
    margin: 2% 0 2% 6% ; 
    width: 18%;
    height: 18%;
}

.bemvindo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: max(140px, 41vw);
}

.bemvindo img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: max(140px, 41vw);
} 

.textobemvindo {
    position: relative;
    text-align: center;
    color: #260F01;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    z-index: 2;
}

#paragrafo-bemvindo {
    margin: 2%;
}

.servicos > .titulo {
    font-family: 'Playfair Display', serif;
    font-weight: 10;
    color: #593E25;
    margin: 8% 4% 8% 4%;
    text-align: center;
    font-size: max(8px, 2.6vw);
}

.servico h3 {
    font-weight: lighter;
    font-size: 4.5vw;
    color: #9b5d46;
    background-color: #F2D8C2;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 100%;
    padding: 6px;
}
.servico p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    width: 100%;
    font-size: max(10px, 2vw);
    color: #7e4d3b;
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 0px 0px 3px 3px;
    border-style: solid;
    border-color: #F2D8C2;
    padding: 4px 15px 0px 15px;
}

.servico img {
    margin: 10px 0px 5px 0px;
    width: max(160px, 25vw);
    border-radius: 2px;
}


footer {
    display: flex;
    flex-direction: row;
    background-color:  #ebb291;
    color: #593E25;
    justify-content:space-around ;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    padding: 80px 30px 80px 30px ;
}

.informacoes > h2 {
    border-radius: 5px;
    font-size: max(20px, 2.2vw);
}

.informacoes > address, a, label{
    font-size: max(15px, 2vw);
    color: #593E25;
}